<div class="row">
  <div *ngFor="let item of listMyTask" class="col-lg-3 col-6">
    <div class="card" [class.bg-success]="item.status=='انجام شده'" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">{{ item.description }}</p>
        <a (click)="done(item.id)" class="btn btn-success mx-1">انجام شد</a>
        <a (click)="edit()" class="btn btn-warning mx-1">ویرایش</a>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="listMyTask.length<1">
    <div class="col-12">
      <span>در حال دریافت داده ...</span>
    </div>
  </div>
</div>
