<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">نام</th>
      <th scope="col">نام خانوادگی</th>
      <th scope="col">موبایل</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ listUser[0].name }}</td>
      <td>{{ listUser[0].lastname }}</td>
      <td>{{ listUser[0].mobile }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{ listUser[1].name }}</td>
      <td>{{ listUser[1].lastname }}</td>
      <td>{{ listUser[1].mobile }}</td>
    </tr>

  </tbody>
</table>
